<div id="fwslider">
    <div class="slider_container">
        <div class="slide">
            <!-- Slide image -->
                <img src="resources/images/paradise1.png" alt=""/>

            <!-- /Slide image -->
            <!-- Texts container -->
            <div class="slide_content">

                <div class="slide_content_wrap">
                    <!-- Text title -->

                    <h4 class="title"><i class="bg"></i>Welcome to <span class="hide">The Paradise Hotel</span></h4>
                    <h5 class="title1"><i class="bg"></i>An authentic place <span class="hide" >for your stay</span></h5>
                    <!-- /Text title -->
                </div>
            </div>
             <!-- /Texts container -->
        </div>
        <!-- /Duplicate to create more slides -->
        <div class="slide">
            <img src="resources/images/hotel1.png" alt=""/>

            <div class="slide_content">

                 <div class="slide_content_wrap">
                    <!-- Text title -->

                    <h4 class="title"><i class="bg"></i>In every season <span class="hide">a relaxing stay </span> promised</h4>
                    <h5 class="title1"><i class="bg"></i>A natural environment<span class="hide">  to live in</span> </h5>
                    <!-- /Text title -->
                </div>
            </div>
        </div>
        <!--/slide -->

                     <div class="slide">
            <img src="resources/images/hotel6.jpg" alt=""/>

            <div class="slide_content">

                 <div class="slide_content_wrap">
                    <!-- Text title -->

                    <h4 class="title"><i class="bg"></i>In every season <span class="hide">a relaxing stay </span> promised</h4>
                    <h5 class="title1"><i class="bg"></i>A natural environment<span class="hide">  to live in</span> </h5>
                    <!-- /Text title -->
                </div>
            </div>
        </div>
        <!--/slide -->
                     <div class="slide">
            <img src="resources/images/hotel8.jpg" alt=""/>

            <div class="slide_content">

                 <div class="slide_content_wrap">
                    <!-- Text title -->


                    <h4 class="title"><i class="bg"></i>In every season <span class="hide">a relaxing stay </span> promised</h4>
                    <h5 class="title1"><i class="bg"></i>A natural environment<span class="hide">  to live in</span> </h5>
                    <!-- /Text title -->
                </div>
            </div>
        </div>
        <!--/slide -->
    </div>
    <div class="timers"> </div>
    <div class="slidePrev"><span> </span></div>
    <div class="slideNext"><span> </span></div>
</div>
